@import "tailwindcss";

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", "Georgia", serif;
  overflow-x: hidden;
}


html {
  background-color: #f8f6f2; 
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #2563eb;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #2563eb;
}

.nav-link:hover::after {
  width: 100%;
}

button {
  transition: all 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease;
}

/* section */
section {
  scroll-margin-top: 80px; 
}

/* input */
input,
textarea,
select {
  outline: none;
  transition: border 0.2s ease;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #2563eb;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f6f2; 
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}